@import "tailwindcss";
@plugin "daisyui" {
  /* themes: light --default, dark --prefersdark, cupcake; */
  themes: dark --default;
}

:root {
  --mandakaru1: #c1d1c6;
  --mandakaru2: #e1d6b8;
  --mandakaru3: #ffd2b3;
  --mandakaru4: #ffffff;
  --mandakaru-text: #5e7764;
}
